@{
    ViewData["Title"] = "Confirmación";
    var mensajeEstado = TempData["mensajeEstado"];
    @model List<Mensaje>;
}

@if (mensajeEstado != null)
{
    <div class="alert alert-success mx-3 mt-3">@mensajeEstado</div>
}

<h1>Confirmación de Envio </h1>

<button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">¡volver a publicar o enviar un mensaje!</button>




