<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connecttoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1e2e411-a338-4f98-b976-9d1def8b978d/resourceGroups/GR_TPWeb3Azure/providers/Microsoft.Web/sites/ConnectToAPI</ResourceId>
    <UserName>$ConnectToAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://connecttoapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>